.news {
  background-color: rgba(212, 244, 242, 1);
  width: 100%;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.title_content {
  font-family: "Manrope";
  font-weight: 500;
  color: var(--text-dark);
  font-size: calc(64px + (80 - 64) * ((100vw - 1024px) / (1920 - 1024)));
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding: 40px 0px;

  @media (max-width: 1024px) {
    font-size: calc(48px + (64 - 48) * ((100vw - 768px) / (1024 - 768)));
  }
  @media (max-width: 1024px) {
    font-size: calc(48px + (64 - 48) * ((100vw - 768px) / (1024 - 768)));
  }
  @media (max-width: 768px) {
    font-size: calc(32px + (48 - 32) * ((100vw - 360px) / (768 - 360)));
    padding-top: calc(20px + (40 - 20) * ((100vw - 360px) / (768 - 360)));
    padding-bottom: calc(20px + (40 - 20) * ((100vw - 360px) / (768 - 360)));
  }
}

.container {
  background-color: rgba(13, 176, 184, 0.3);
  display: flex;
  flex-direction: column;
  max-height: 582px;
  max-width: 500px;
  width: 100%;
  border-radius: 40px;
  margin: 0 auto;
}

.image {
  width: 500px;
  height: 340px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.mySwiper {
  height: min-content;
}
